body{
	background: linear-gradient(45deg, #2c2c2c, #65596e)!important;
    background-image: url(../public/Imagenes/fondo1.jpg)
}

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover{
    width: 350px;
}

.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 200%;
    height: 300px;
    position: absolute;
    bottom: -20px;
    left: -145px;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../public/Imagenes/toro.jpg)
}

.card:nth-of-type(2) .img__back{
    background-image: url(../public/Imagenes/toro.jpg)
}

.card:nth-of-type(3) .img__back{
    background-image: url(../public/Imagenes/toro.jpg)
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: #6c757d;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    background: #463f45;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #463f45;
}

h2{
    color: black;
    font-size: 5em;
    text-align: center;
}
.price-innerdetail p {
    font-size: 50px;
    width: 100%;
    margin: auto;
    padding: 20%;
    margin-top: 20px;
    text-align: center;
    color: rgb(43, 41, 39);
}

.wrap-price {
    background: rgba(32, 33, 36, .1);
    padding: 50px 20px 50px;
    border-radius: 10px;
}

.center-wrap {
    background: #070707;
    color: #fff;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.landing {
    position:fixed;
    background-color: black;
    color:white;
    height:100%;
    width:100%;
    z-index:1000;
    opacity:1;
	transition: opacity 1500ms ease-in-out;
}

.position-relative{
    z-index:-1!important;
}

.position-fix{
    z-index:0!important;
}

header{
    z-index:100!important;
}

.hidden {
    opacity:0;
}

.nodisplay {
    display:none;
}

#logo {
    top: 45%;
    left: 45%;
    margin-right: -55%;
    position:absolute; 
    height: 200px; 
    width: 200px; 
    -webkit-transition: all 0.9s ease-in-out;
    -moz-transition: all 0.9s ease-in-out;
    -o-transition: all 0.9s ease-in-out;
    transition: all 0.9s ease-in-out;
}


#logo.rotated {
    -webkit-transform : rotate(360deg); 
    -moz-transform : rotate(360deg); 
    -ms-transform : rotate(360deg); 
    -o-transform : rotate(360deg); 
    transform : rotate(360deg); 
}

#main1 {
    background-image: url('Imagenes/1366_2000.jpeg');
    background-position: center 0px;
    background-attachment: fixed;
    background-size: cover;
    height: 75vh;
    width: 100%;
    background-repeat: no-repeat;
    position:relative;
    min-height: 100%;
    z-index:-1;
}

#body {
    height: 100%;
    background-color: #070707;
    margin: 0;
    padding: 0;
    background: url(gym.png);
    font-family: sans-serif;
    background-position: center;
    background-size: cover;
}
body{margin-top:20px;}
  .price-innerdetail h5 {
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 15px;
        background-color:#222238;
        
    }
    
    .price-innerdetail p {
        font-size: 50px;
        width: 100%;
        margin: auto;
        padding: 20%;
        margin-top: 20px;
        text-align: center;
        color: bisque;
    }
    
    .detail-pricing {
        border-bottom: 1px solid;
        padding: 30px 0 30px 0;
    }
    
    .detail-pricing .float-left {
        padding: 0 0 0 40px;
    }
    
    .detail-pricing .float-left i {
        position: absolute;
        left: 0;
        font-size: 20px;
    }
    
    .detail-pricing span {
        display: inline-block;
        position: relative;
        font-weight: 400;
    }
    
    .wrap-price {
        background: rgba(32, 33, 36, .1);
        padding: 50px 20px 50px;
        border-radius: 10px;
    }
    
    .center-wrap {
        background: #070707;
        color: #fff;
    }
    .division {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: 'Titling Gothic FB Comp Bold', sans-serif;
        color: #000000;
        font-weight: 700;
    }
    .division {
        margin-right: 0px;
        margin-left: 0px;
        font-family: 'Titling Gothic FB Comp Bold', sans-serif;
        color: #1f1f1f;
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
    }
    .button {
        background-color:#000000;
        border-radius:28px;
        border:1px solid #ffd500;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        font-style:italic;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffd500;
        text-align: center;
    }
    .button:hover {
        background-color:#ffd500;
    }
    .button:active {
        position:relative;
        top:1px;
    }
    a {
        color: var(white);
        text-decoration: underline;
    }
    a {
      color: #f8f9fa;
      text-decoration: underline;
    }
    .imagen-flex{
        background-image: url(../public/Imagenes/fondo1.png);
    }
      
    .toplinks{
        margin: 125px;
        color:#ffd500;
    }

    .toplinks:hover{
        color:#ffffff;
    }

    .menubuttons{
        color:#ffffff;
        width:100%;
        height:100%;
        margin-left: 3px;
    }

    #menu ul, #menu li {
        margin: 0; padding: 0;
    }
    

    .menubuttons:hover{
        background-color: #463f45;
        transition: 0.2s;
    }

    .footer{
        background-color: #1f1f1f;
        color:#d1d1d1;
        width:100%;
    }
    
    .fondo2{
        background-image:url('Imagenes/fondo2.png');
        margin: 0!important;
        padding: 0!important;
        width:100%!important;
        left:0!important;
        right:0!important;
        bottom:0!important;
        top:0!important;
        display:flex!important;
    }

    .fixing{
        margin: 0!important;
        padding: 0!important;
        width:100%!important;
        left:0!important;
        right:0!important;
        bottom:0!important;
        top:0!important;
        display:flex!important;
    }